<html>
<head>
    {% if title %}
        <title>{{ title }} - Q-A</title>
    {% else %}
        <title>Q-A</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>
</head>
<body>
{% if "login" in request.path or "register" in request.path %}
    {% set redirect_url = "?redirect_url="+url_for("questions") -%}
{% else %}
    {% set redirect_url = "?redirect_url="+request.path -%}
{% endif %}

{% if current_user.is_authenticated %}
    {% set navigation_bar = [
        (url_for("questions"), 'questions', 'Questions'),
            (url_for("logout"), 'logout', 'Logout'),
    ] -%}
{% else %}
    {% set navigation_bar = [
        (url_for("questions"), 'questions', 'Questions'),
            (url_for("login")+redirect_url, 'login', 'Login'),
            (url_for("register")+redirect_url, 'register', 'Register'),
    ] -%}
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">{{ current_user.nickname|default('Anonymus') }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="navbar-margin"></div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
