<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "login" -%}

{% block content %}
    <h1>Login</h1>
    <h3>Please enter your data below:</h3>
    <form action="" method="post" name="login" role="form" autocomplete="off">
        {{ form.hidden_tag() }}
        <div>
            <div class="form-group">
                <label for="form-email" class="sr-only">Email</label>
                {{ form.email(class_="form-email form-control", placeholder="Email...") }}
            </div>
            <div class="form-group">
                <label for="form-password" class="sr-only">Password</label>
                {{ form.password(class_="form-password form-control", placeholder="Password...") }}
            </div>

            {% for error in form.email.errors %}
                <h3 style="color: red;">Error: {{ error }}</h3>
            {% endfor %}
        </div>
        <button class="btn btn-success" type="submit" value="Registration">Login</button>
    </form>

{% endblock %}