<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "questions" -%}

{% block content %}
    <h1>Questions:</h1>
    <div class="list-group questions">
        {% for question in questions_data %}
            <a href="question/{{ question.id }}" class="list-group-item">

                {% if current_user == question.author %}
                        <form action="/delete/question/{{ question.id }}" method="post" name="delete">
                            {{ form_delete.hidden_tag() }}
                            <div>
                                <button type="submit" name="delete" value="" class="glyphicon glyphicon-remove" title="Delete">
                                </button>
                            </div>
                        </form>
                {% endif %}
            <span class="badge">{{ question.answers.count() }}</span>
                {{ question.body|truncate(50) }}
            </a>
        {% endfor %}
    </div>
    {% if current_user.is_authenticated %}

            <form action="" method="post" name="question">
                {{ form.hidden_tag() }}
                <div>
                    <p>You can add your question. Fill field below:</p><br>
                    {{ form.body(class_="form-control", rows="5")}}
                    {% for error in form.body.errors %}
                        <h3 style="color: red;">Error: {{ error }}</h3>
                    {% endfor %}<br>
                </div>
                <button type="submit" class="btn btn-info" value="Submit">Submit</button>
            </form>
    {% endif %}
{% endblock %}