<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ question.body }}</h1>
    <p>(by {{ question.author.nickname }})</p>
    <ul class="list-group q-and-a">
        {% for answer in answers_data %}
            {% set pluses, minuses = answer.pluses_sum, answer.minuses_sum %}
            {% if pluses-minuses > 0 %}
                {% set list_class = "success" %}
            {% elif pluses-minuses == 0 %}
                {% set list_class = "info" %}
            {% else %}
                {% set list_class = "danger" %}
            {% endif %}

            <li class="list-group-item list-group-item-{{ list_class }}">
                {{ answer.body }} (by {{ answer.user }})
                {% if current_user == answer.user %}
                        <form action="/delete/answer/{{ answer.id }}" method="post" name="delete">
                            {{ form_delete.hidden_tag() }}
                            <div>
                                <button type="submit" name="delete" value="" class="glyphicon glyphicon-remove" title="Delete">
                                </button>
                            </div>
                        </form>
                {% endif %}
            </li>
            <div class="votes text-right">
                {% if current_user.is_authenticated %}
                    <form action="/vote/{{ answer.id }}" method="post" name="vote">
                        {{ form_vote.hidden_tag() }}
                        <div>
                            <button type="submit" name="vote" value="plus">
                                <span class="glyphicon glyphicon-thumbs-up">{{ pluses }}</span>
                            </button>
                            <button type="submit" name="vote" value="minus">
                                <span class="glyphicon glyphicon-thumbs-down">{{ minuses }}</span>
                            </button>
                        </div>
                    </form>
                {% else %}
                    <span class="glyphicon glyphicon-thumbs-up">{{ pluses }}</span>
                    <span class="glyphicon glyphicon-thumbs-down">{{ minuses }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}

        <form action="" method="post" name="answer">
            {{ form_answer.hidden_tag() }}
            <div>
                <p>You can add your anwer. Fill field below:</p><br>

                {{ form_answer.body(class_="form-control", rows="5") }}
                {% for error in form_answer.body.errors %}
                    <h3 style="color: red;">Error: {{ error }}</h3>
                {% endfor %}<br>
            </div>
            <button type="submit" class="btn btn-info" value="Submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}