<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "register" -%}

{% block content %}
    <h1>Registration</h1>
    <h3>Please enter your data below:</h3>
    <form action="" method="post" name="register" role="form" autocomplete="off">
        {{ form.hidden_tag() }}
        <div>
            <div class="form-group">
                <label for="form-email" class="sr-only">Email</label>
                {{ form.email(class_="form-email form-control", placeholder="Email...") }}
            </div>
            <div class="form-group">
                <label for="form-nickname" class="sr-only">Nickname</label>
                {{ form.nickname(class_="form-nickname form-control", placeholder="Nickname...", autocomplete="off") }}
            </div>
            <div class="form-group">
                <label for="form-password" class="sr-only">Password</label>
                {{ form.password(class_="form-password form-control", placeholder="Password...") }}
            </div>

            {% for error in form.email.errors %}
                <h4 style="color: red;">Error: {{ error }}</h4>
            {% endfor %}
            {% for error in form.nickname.errors %}
                <h4 style="color: red;">Error: {{ error }}</h4>
            {% endfor %}
        </div>
        <button class="btn btn-success" type="submit" value="Registration">Sign up!</button>
    </form>
{% endblock %}