/* Customize container */
.navbar-margin {
    height: 7%;
}

form[name=login], form[name=register] input, .questions a{
    width: 70%;
    max-width: 500px;
}

textarea, .q-and-a li, .votes {
    width: 90%;
    max-width: 500px;
}

.q-and-a li{
     margin-top: 10px;
}

.list-group-item {
    overflow: auto;
}

form[name="delete"] {
    float: right;
    color: red;
    margin: 0;
}